<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
<title>Listado de clientes</title>
<meta charset="utf-8">
</head>

<body>
	<div layout:fragment="content">
		
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-sm-10"><i class="mdi mdi-account-multiple"></i> Listado de clientes</div>
					<a th:href="@{/clientes/novo}" class="col-sm-2 text-left btn btn-sm close"><i class="mdi mdi-plus-circle text-success"></i> Novo cliente</a>
				</div>				
			</div>
			<div class="card-body">
			
			<div class="alert alert-info alert-dismissible" th:if="${msgInfo}">
				<button class="close" data-dismiss="alert">&times;</button>
				<div><i class="mdi mdi-information"></i> [[${msgInfo}]]</div>
			</div>
			
				<table class="table table-hover table-bordered table-sm">
					<thead class="thead-light">
						<tr>
							<th>Nome</th>
							<th style="width: 50px"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente : ${clientes}">
							<td>[[${cliente.nome}]]</td>
							<td>
								<a th:href="@{/clientes/edit/{id}(id=${cliente.id})}" data-toggle="tooltip" title="editar" data-placement="right"><i class="mdi mdi-pencil-box"></i></a>
								<a th:href="@{/clientes/delete/{id}(id=${cliente.id})}" data-toggle="tooltip" title="delete" data-placement="right"><i class="mdi mdi-delete text-danger"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>	
</body>
</html>