<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
<title>Listado de moedas</title>
<meta charset="utf-8">
</head>

<body>
	<div layout:fragment="content">
		
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-sm-10"><i class="mdi mdi-currency-eur"></i> Listado de moedas</div>
					<a class="col-sm-2 btn btn-sm close text-left" th:href="@{/moedas/novo}"><i class="mdi mdi-plus-circle text-success"></i> Nova moeda</a>
				</div>
			</div>
			<div class="card-body">
			
			<div class="alert alert-info alert-dismissible" th:if="${msgInfo}">
				<button class="close" data-dismiss="alert">&times</button>
				<div><i class="mdi mdi-information"></i> [[${msgInfo}]]</div>
			</div>	
			<div class="alert alert-danger alert-dismissible" th:if="${msgError}">
				<button class="close" data-dismiss="alert">&times</button>
				<div><i class="mdi mdi-information"></i> [[${msgError}]]</div>
			</div>
			
				<div class="table-responsive">
					<table class="table table-sm table-hover table-bordered">
						<thead class="thead-light">
							<tr>
								<th>Sigla</th>
								<th>Nome</th>
								<th style="width: 50px"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="moeda : ${moedas}">
								<td>[[${moeda.sigla}]]</td>
								<td>[[${moeda.Nome}]]</td>
								<td>
									<a th:href="@{/moedas/edit/{id}(id=${moeda.id})}"><i class="mdi mdi-pencil-box text-primary"></i></a>
									<a th:href="@{/moedas/delete/{id}(id=${moeda.id})}"><i class="mdi mdi-delete text-danger"></i></a>
								</td>
							</tr>
						</tbody>
					</table>	
				</div>
			</div>
		</div>
		
	</div>	
</body>
</html>