<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
<title>Cadastro taça de cambio</title>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/vendors/gijgo-datepicker1.9.13/css/gijgo.min.css}">
</head>

<body>
	<div layout:fragment="content">
		
		<div class="card">
			<div class="card-header">
				<div><i class="mdi mdi-currency-btc"></i> Cadastro taça de cambio</div>
			</div>
			<div class="card-body">
			<form th:object="${tacaCambio}" method="post">
			
			<div class="alert alert-danger alert-dismissible">
				<button class="close" data-dismiss="alert">&times;</button>
				<th:block th:each="error : ${#fields.detailedErrors()}">
					<div><i class="mdi mdi-information"></i> [[${error.message}]]</div>
				</th:block>
			</div>
			
			
				<div class="row">
					<div class="form-group col-sm-4">
						<label class="form-control-label">Moeda <a href="#" data-toggle="tooltip" title="Nova moeda" data-placement="right"><i class="mdi mdi-plus-circle text-success"></i></a></label>						
						<select class="js-example-basic-single w-100" th:field="*{moeda}">
							<option value="">Escolha moeda...</option>						
							<th:block th:each="moeda : ${moedas}">
								<option th:value="${moeda.id}">[[${moeda.sigla}]]</option>
							</th:block>
						</select>		
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 form-group">
						<label class="form-control-label">Data</label>
						<input id="datepicker" class="form-control form-control-sm" th:field="*{data}">
					</div>
					<div class="col-sm-4 form-group">
						<label class="form-control-label">Valor</label>
						<input type="number" class="form-control form-control-sm" th:field="*{valor}">
					</div>
				</div>
				<button type="submit" class="btn btn-sm btn-success"><i class="mdi mdi-check"></i> Guardar</button>
			</form>
			</div>
		</div>
		
	</div>
	
	<th:block layout:fragment="js-extra">
	<script th:src="@{/vendors/gijgo-datepicker1.9.13/js/gijgo.min.js}"></script>
	<script th:src="@{/vendors/gijgo-datepicker1.9.13/js/messages/messages.pt-br.min.js}"></script>
	<script th:src="@{/js/datepicker.js}"></script>
	
	</th:block>
		
</body>
</html>